* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 2px 20px #f3f3f3;
  font-size: 14px;
  &__sidebar {
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    background: #e5e5e5;
    padding: 60px 20px;
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  width: 200px;
  height: 37px;
  background: #4dd599;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover {
    background: darken($color: #4dd599, $amount: 8%);
  }
  &:active {
    background: darken($color: #4dd599, $amount: 10%);
  }
}
